@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:hover,
*:focus {
  outline: 0;
}

a:hover {
  text-decoration: none !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rokkitt", sans-serif;
  background-color: #1f1c44;
  overflow: hidden;
}

.btn {
  width: 28rem;
  height: 5.4rem;
  background-color: #e65b7c;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-family: "Rokkitt", sans-serif;
  margin-bottom: 3rem;
  cursor: pointer;
  box-shadow: 0 1rem 2rem -0.8rem rgba(230, 91, 124, 0.5);
  transition: all 0.2s ease;
}

.btn:hover {
  box-shadow: 0 0 0 0 rgba(230, 91, 124, 0.5);
  transform: translateY(0.3rem);
}

.link {
  color: #5b86e6;
  position: relative;
}
.link::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: #5b86e6;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease;
}

.link:hover::before {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 511px) {
  body {
    background-color: #fff;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 5%;
  overflow: hidden;
}

@media screen and (max-width: 511px) {
  .wrapper {
    padding: 0;
  }
}

.form {
  width: 40rem;
  height: 40rem;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 511px) {
  .form {
    height: 100%;
    border-radius: 0;
  }
}

.form__title {
  font-family: "Rokkitt", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
  text-align: center;
  line-height: 2.9rem;
  color: #161843;
  margin-bottom: 4rem;
}

.form__google {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5b86e6;
  width: 28rem;
  height: 5.4rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #fff;
  margin-bottom: 4rem;
  box-shadow: 0 1rem 2rem -0.8rem rgb(91, 134, 230, 0.5);
  transition: all 0.2s ease;
}

.form__google:hover {
  box-shadow: 0 0 0 0 rgba(91, 134, 230, 0.5);
}

.form__google img {
  width: 4rem;
  height: 4rem;
  border-radius: 0.4rem;
  transform: translateX(-3.75rem);
  background-color: #fff;
  padding: 0.5rem;
}

.form__or {
  width: 28rem;
  height: 0.1rem;
  background-color: rgba(148, 148, 149, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 3rem;
}
.form__or span {
  background-color: #fff;
  padding: 0 1.2rem;
  color: #949495;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.05rem;
}

.form__inputWrapper {
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.form__inputWrapper label {
  font-family: "Rokkitt", sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: bold;
  color: #161843;
  margin-bottom: 0.5rem;
}

.form__inputWrapper input {
  height: 5.4rem;
  border: 0.1rem solid #d9dced;
  border-radius: 0.5rem;
  padding: 0 2rem;
  color: #161843;
}

.form__account {
  font-family: "Rokkitt", sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: center;
}
